<div class="page-header">
  <h1>Les Organisateurs <small>Subtext for header</small></h1>
</div>

<div class="row">
	<div class="col-md-7">
		<div class="panel panel-default panel-pres">
			<div class="panel-body">
				<p> La paix. Un mot qui prend toute son importance lorsque l'on est confronté au conflit. Le droit à la sécurité, le droit de se déplacer sans craindre pour sa vie et celle de ses proches. Tout ceci est un acquis pour nombre d'hommes et de femmes dans le monde. Mais il demeure des territoires où le fléau de la guerre armée persiste et plus encore est entretenu.<br>
					<br>
					La Centrafrique a vécu ces derniers mois, une des périodes la plus sombre et la plus atroce de son histoire. Les centrafricains vivant pourtant en harmonie, toutes confessions confondues, se sont retrouvés divisés et opposés.<br>
					<br> 
					Cette situation est contraire aux intérêts de la Nation centrafricaine. La paix est un préalable à la prospérité et au développement de la Centrafrique. <br>
					Cette conférence s'adresse à tous les centrafricains peu importe leur confession. Toutes les forces vives de la nation sont invitées à venir prendre part à ce rassemblement pour la paix
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-offset-1 col-md-4">
		<div class="panel panel-default panel-right">
			<div class="panel-body">
				<ul>
					<li> <%= link_to "Programme", home_programme_path =%> </li>
					<li> <%= link_to "Actualités", home_news_path =%> </li>
					<li> <%= link_to "Présentation", home_presentation_path =%> </li>
				</ul>
			</div>
		</div>
	</div>
</div>
